<div class="form-wrapper">

  <h2 class="form-title">
    {{ isEditMode ? 'Editar Cliente' : 'Nuevo Cliente' }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="save()" class="form-grid">

    <!-- Nombre -->
    <div class="form-group">
      <label>Nombre *</label>
      <input type="text" formControlName="nombre"
        [class.invalid]="form.get('nombre')?.invalid && form.get('nombre')?.touched" />

      <small class="error" *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched">
        El nombre es obligatorio
      </small>
    </div>

    <!-- Edad -->
    <div class="form-group">
      <label>Edad *</label>
      <input type="number" formControlName="edad"
        [class.invalid]="form.get('edad')?.invalid && form.get('edad')?.touched" />

      <small class="error" *ngIf="form.get('edad')?.invalid && form.get('edad')?.touched">
        La edad es obligatoria y debe ser mayor a 0
      </small>
    </div>

    <!-- Identificación -->
    <div class="form-group">
      <label>N° de Identificación *</label>
      <input type="text" formControlName="identificacion"
        [class.invalid]="form.get('identificacion')?.invalid && form.get('identificacion')?.touched" />

      <small class="error" *ngIf="form.get('identificacion')?.invalid && form.get('identificacion')?.touched">
        el N° de identificación es obligatorio
      </small>
    </div>

    <!-- Dirección -->
    <div class="form-group">
      <label>Dirección *</label>
      <input type="text" formControlName="direccion"
        [class.invalid]="form.get('direccion')?.invalid && form.get('direccion')?.touched" />

      <small class="error" *ngIf="form.get('direccion')?.invalid && form.get('direccion')?.touched">
        La dirección es obligatoria
      </small>
    </div>

    <!-- Teléfono -->
    <div class="form-group">
      <label>Teléfono *</label>
      <input type="text" formControlName="telefono"
        [class.invalid]="form.get('telefono')?.invalid && form.get('telefono')?.touched" />

      <small class="error" *ngIf="form.get('telefono')?.invalid && form.get('telefono')?.touched">
        El teléfono es obligatorio
      </small>
    </div>

    <!-- Cliente ID -->
    <div class="form-group">
      <label>Usuario *</label>
      <input type="text" formControlName="clienteId"
        [class.invalid]="form.get('clienteId')?.invalid && form.get('clienteId')?.touched" />

      <small class="error" *ngIf="form.get('clienteId')?.invalid && form.get('clienteId')?.touched">
        El usuario es obligatorio
      </small>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label>Contraseña *</label>
      <input type="password" formControlName="password"
        [class.invalid]="form.get('password')?.invalid && form.get('password')?.touched" />

      <small class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        La contraseña es obligatoria
      </small>
    </div>

    <!-- Botones -->
    <div class="form-actions">
      <button type="submit" class="btn-save" [disabled]="form.invalid || loading">

        <span *ngIf="!loading">
          {{ isEditMode ? 'Actualizar' : 'Guardar' }}
        </span>

        <span *ngIf="loading">
          Guardando...
        </span>

      </button>

      <button type="button" class="btn-cancel" (click)="cancel()">
        Cancelar
      </button>
    </div>

  </form>

</div>
